/* universal selector */
*{
  font-style:italic  
}
/* id selector  */
#title{
    font-style: normal;
    background-color: rgb(72, 179, 76);
}
/* class selector */
.heading{
    font-style: oblique;
}
/* tag selctor  */
p{
  background-color: blueviolet;
}
/* group selector */
h2,p,h1{
  border-style: solid;
}